{{- $sign := cond (gt .change 0) "positive" (cond (lt .change 0) "negative" "neutral") -}}
{{- if eq $sign "neutral" -}}
  {{- if .currency -}}
    $0.00 (0%)
  {{- else -}}
    0 (0%)
  {{- end -}}
{{- else -}}
  {{- $changeAbs := cond (lt .change 0) (mul .change -1) .change -}}
  {{- $amount := printf "%s%s"
    (cond .currency "$" "")
    ($changeAbs | lang.FormatNumber .decimals)
  -}}
  {{- $signedAmount := printf "%s%s"
    (cond (eq $sign "positive") "+" "-")
    $amount
  -}}
  {{- $percentText := cond
    (and (eq $sign "positive") (le .prev 0))
    "+inf%"
    (printf "%+.0f%%" .percent)
  -}}
  <span class="project-metrics-change-{{ $sign }}">{{ $signedAmount }} ({{ $percentText }})</span>
{{- end -}}
