{{- $prevDate := .currentDate.AddDate 0 -1 0 -}}
{{- $prev := $prevDate.Format "2006-01" -}}
{{- $current := .currentDate.Format "2006-01" -}}
{{- $prevData := index .projectData $prev -}}
{{- $currentData := index .projectData $current -}}

{{- if not (and $prevData $currentData) -}}
  {{- errorf
    "Could not find data for project \"%s\" with months \"%s\" and \"%s\". Available data: %s"
    .project
    $prev
    $current
    .projectData
  -}}
{{- end -}}

{{- $prevMonth := $prevDate.Format "January 2006" -}}
{{- $currentMonth := .currentDate.Format "January 2006" -}}

{{- $prevUniqueVisitors := $prevData.unique_visitors | default 0 | int -}}
{{- $currentUniqueVisitors := $currentData.unique_visitors | default 0 | int -}}

{{- $prevPreOrders := $prevData.revenue_pre_orders | default 0.0 | float -}}
{{- $prevConsulting := $prevData.revenue_consulting | default 0.0 | float -}}
{{- $prevSponsors := $prevData.revenue_sponsors | default 0.0 | float -}}
{{- $prevTotal := add (add $prevPreOrders $prevConsulting) $prevSponsors -}}

{{- $currentPreOrders := $currentData.revenue_pre_orders | default 0.0 | float -}}
{{- $currentConsulting := $currentData.revenue_consulting | default 0.0 | float -}}
{{- $currentSponsors := $currentData.revenue_sponsors | default 0.0 | float -}}
{{- $currentTotal := add (add $currentPreOrders $currentConsulting) $currentSponsors -}}


<style>
  .project-metrics-change-positive {
    color: green;
  }

  .project-metrics-change-negative {
    color: red;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Metric</th>
      <th>{{ $prevMonth }}</th>
      <th>{{ $currentMonth }}</th>
      <th>Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Unique visitors</td>
      <td>{{ $prevUniqueVisitors | lang.FormatNumber 0 }}</td>
      <td>{{ $currentUniqueVisitors | lang.FormatNumber 0 }}</td>
      <td>
        {{- partial "project-metrics/change-cell.html" (dict "prev" $prevUniqueVisitors "current" $currentUniqueVisitors "isCurrency" false) -}}
      </td>
    </tr>
    <tr>
      <td>Revenue from pre-orders</td>
      <td>${{ $prevPreOrders | lang.FormatNumber 2 }}</td>
      <td>${{ $currentPreOrders | lang.FormatNumber 2 }}</td>
      <td>
        {{- partial "project-metrics/change-cell.html" (dict "prev" $prevPreOrders "current" $currentPreOrders "isCurrency" true) -}}
      </td>
    </tr>
    <tr>
      <td>Revenue from consulting</td>
      <td>${{ $prevConsulting | lang.FormatNumber 2 }}</td>
      <td>${{ $currentConsulting | lang.FormatNumber 2 }}</td>
      <td>
        {{- partial "project-metrics/change-cell.html" (dict "prev" $prevConsulting "current" $currentConsulting "isCurrency" true) -}}
      </td>
    </tr>
    <tr>
      <td>Revenue from sponsors</td>
      <td>${{ $prevSponsors | lang.FormatNumber 2 }}</td>
      <td>${{ $currentSponsors | lang.FormatNumber 2 }}</td>
      <td>
        {{- partial "project-metrics/change-cell.html" (dict "prev" $prevSponsors "current" $currentSponsors "isCurrency" true) -}}
      </td>
    </tr>
    <tr style="font-weight: bold;">
      <td>Total Revenue</td>
      <td>${{ $prevTotal | lang.FormatNumber 2 }}</td>
      <td>${{ $currentTotal | lang.FormatNumber 2 }}</td>
      <td>
        {{- partial "project-metrics/change-cell.html" (dict "prev" $prevTotal "current" $currentTotal "isCurrency" true) -}}
      </td>
    </tr>
  </tbody>
</table>
