<!-- start custom head snippets -->

<!-- inserting favicon references -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/assets/img/svg/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
<meta name="theme-color" content="#ffffff">

{% comment %}
Customize the twitter title for monthly retrospective posts
{% endcomment %}
{% if page.collection == "retrospectives" %}
{% unless page.title contains "Notes from" %}
{% assign one_month_in_seconds = 30 | times: 24 | times: 60 | times: 60 %}
{% assign formatted_date = page.date | date: "%s" | minus: one_month_in_seconds | date: "%B %Y" %}
<meta property="twitter:title" content="{{ formatted_date }} Retrospective: {{ page.title }}">
{% endunless %}
{% endif %}

<!-- end custom head snippets -->