<section class="container page retrospective">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <div class="post-meta">
        <span class="header-meta">
          <i class="fas fa-calendar"></i>
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
          </time>
        </span>
        <span class="header-meta">
          <i class="fas fa-clock"></i>
          {{ .ReadingTime }}-minute read
        </span>
        {{ if .Site.IsServer }}
          <span class="header-meta"
            >&mdash; {{ .Content | countwords }} words
          </span>
        {{ end }}
      </div>
    </header>

    {{ partial "prev-next.html" . }}

    {{ if not (hasPrefix .Title "Notes from") }}
      <h2>One-Line Summary</h2>

      {{ .Params.description }}
    {{ end }}

    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗&#xFE0E;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}

    {{ partial "prev-next.html" . }}

    {{ partial "refactoring-english-ad.html" }}

    {{ partial "mailing-list-signup.html" . }}

    {{ if not .Site.IsServer }}
      {{ partial "talkyard.html" . }}
    {{ end }}
  </article>
</section>
