Gemfile.*lock
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
node_modules
npm-debug.log*
*.swp
_*preview*
assets/js/main.min.js
assets/js/script-compiled.js
images/resized/