{{ define "title" -}}
  {{- .Title }} ·
  {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  <section class="container">
    <article>
      {{ partial "header.html" . }}

      {{- with .Content -}}
        <div>
          {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗&#xFE0E;</a> ${3}` | safeHTML }}
        </div>
      {{- end -}}

      {{ partial "social-discuss.html" . }}

      {{ partial "refactoring-english-ad.html" }}

      {{ partial "mailing-list-signup.html" . }}

      {{ partial "talkyard.html" . }}
    </article>
  </section>
{{ end }}
