{{ define "title" -}}
  {{- .Title }} ·
  {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  <section class="container {{ .Type }}">
    <article>
      {{ partial "header.html" . }}

      {{- with .Content -}}
        <div>
          {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗&#xFE0E;</a> ${3}` | safeHTML }}
        </div>
      {{- end -}}

      {{ partial "mailing-list-signup.html" . }}

      {{ partial "social-share.html" . }}

      {{ partial "social-discuss.html" . }}

      {{ if not .Site.IsServer }}
        {{ partial "talkyard.html" . }}
      {{ end }}

    </article>
  </section>
{{ end }}
