version: 2.1
jobs:
  check-whitespace:
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout
      - run:
          name: Check for trailing whitespace
          command: tests/check-trailing-whitespace
  lint-markdown:
    docker:
      - image: mtlynch/markdownlint:0.8.0
    steps:
      - checkout
      - run:
          name: Lint Markdown
          command: tests/lint-markdown
  build:
    docker:
      - image: peaceiris/hugo:v0.81.0
    steps:
      - checkout
      - run:
          name: Get submodules
          command: |
            git submodule init
            git submodule update --remote
      - attach_workspace:
          at: ./
      - restore_cache:
          keys:
            - resources-gen-v-{{ .Environment.RESOURCES_CACHE_VERSION }}
      - run:
          name: Build prod site
          command: hugo version && hugo
      - persist_to_workspace:
          root: ./
          paths:
            - public
            - tests
            - firebase.json
            - .firebaserc
      - save_cache:
          key: resources-gen-v-{{ .Environment.RESOURCES_CACHE_VERSION }}
          paths:
            - resources
  lint-html:
    docker:
      - image: mtlynch/htmlproofer:3.15.0
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Check HTML and external links
          command: tests/lint-html
  check-google-analytics-token:
    docker:
      - image: cimg/base:2020.01
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Check presence of Google Analytics token
          command: tests/check-google-analytics-token
  check-seo-metadata:
    docker:
      - image: cimg/base:2020.01
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Check that SEO meta tags rendered properly
          command: tests/check-seo-metadata
  deploy:
    docker:
      - image: mtlynch/firebase-tools:8.1.1-node-14.0.0
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Deploy to firebase
          command: firebase deploy --token="$FIREBASE_DEPLOY_TOKEN"
workflows:
  version: 2
  test-deploy:
    jobs:
      - check-whitespace
      - lint-markdown
      - build
      - lint-html:
          requires:
            - build
      - check-google-analytics-token:
          requires:
            - build
      - check-seo-metadata:
          requires:
            - build
      - deploy:
          requires:
            - check-whitespace
            - lint-markdown
            - build
            - lint-html
            - check-google-analytics-token
            - check-seo-metadata
          filters:
            branches:
              only: master
