version: 2.1
jobs:
  check-whitespace:
    docker:
      - image: cimg/base:2020.01
    resource_class: small
    steps:
      - checkout
      - run:
          name: Check for trailing whitespace
          command: tests/check-trailing-whitespace
      - run:
          name: Check for trailing newlines
          command: tests/check-trailing-newline
  check_html_format:
    docker:
      - image: cimg/node:14.18.1
    steps:
      - checkout
      - run:
          name: Download npm packages
          command: npm install
      - run:
          name: Check formatting
          command: npm run check-format
  lint-markdown:
    docker:
      - image: davidanson/markdownlint-cli2:v0.5.0
    steps:
      - checkout
      - run:
          name: Lint Markdown
          command: tests/lint-markdown
  build:
    docker:
      - image: peaceiris/hugo:v0.101.0
    steps:
      - checkout
      - run:
          name: Get submodules
          command: |
            git submodule init
            git submodule update --remote
      - attach_workspace:
          at: ./
      - restore_cache:
          keys:
            - resources-gen-v{{ .Environment.RESOURCES_CACHE_VERSION }}
      - run:
          name: Build prod site
          command: hugo version && hugo --minify
      - persist_to_workspace:
          root: ./
          paths:
            - public
            - tests
            - netlify.toml
      - save_cache:
          key: resources-gen-v{{ .Environment.RESOURCES_CACHE_VERSION }}
          paths:
            - resources
  lint-html:
    docker:
      - image: mtlynch/htmlproofer:3.15.0
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Check HTML and external links
          command: tests/lint-html
  check-seo-metadata:
    docker:
      - image: cimg/base:2020.01
    resource_class: small
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Check that SEO meta tags rendered properly
          command: tests/check-seo-metadata
  publish_draft:
    docker:
      - image: cimg/node:14.18.1
    resource_class: small
    steps:
      - attach_workspace:
          at: ./
      # This is a hack to get rid of the <base> tag, which prevents the blog from rendering
      # properly on Netlify's draft URL because it hardcodes the mtlynch.io domain.
      - run:
          name: Remove base tag from generated HTML
          command: find public -name "*.html" -exec sed -i -e 's/<base[^>]*>//g' {} +
      - run:
          name: Install netlify CLI
          command: npm install netlify-cli --save-dev
      - run:
          name: Deploy a live draft
          command: ./node_modules/.bin/netlify deploy --dir=public --site="${NETLIFY_SITE_ID}"
  deploy:
    docker:
      - image: cimg/node:14.18.1
    resource_class: small
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Install netlify CLI
          command: npm install netlify-cli --save-dev
      - run:
          name: Deploy to production
          command: ./node_modules/.bin/netlify deploy --dir=public --site="${NETLIFY_SITE_ID}" --prod
workflows:
  version: 2
  test-deploy:
    jobs:
      - check-whitespace
      - check_html_format
      - lint-markdown
      - build
      - lint-html:
          requires:
            - build
      - check-seo-metadata:
          requires:
            - build
      - publish_draft:
          requires:
            - build
          filters:
            branches:
              ignore: master
      - deploy:
          requires:
            - check-whitespace
            - check_html_format
            - lint-markdown
            - build
            - check-seo-metadata
          filters:
            branches:
              only: master
