{% comment %}
  Book Report Introduction Include

  This include file contains a common layout module that is used on the book
  reports index page and the individual book report pages.
{% endcomment %}

{% comment %}
  Determine the proper content classification to used for displaying the item's
  metadata.
{% endcomment %}
{% if page.url == "/book-reports/" %}
  {% assign metadata = post %}
{% else %}
  {% assign metadata = page %}
{% endif %}

{% comment %}
  If the page's og_image frontmatter value exists use that for the report image,
  otherwise fallback to the teaser value.
{% endcomment %}
{%- assign book_report_image = metadata.header.og_image | default: metadata.header.teaser -%}

<p class="book-report-intro">
  <a href="{{ metadata.report_intro.link_url }}">
    <img src="{{ book_report_image }}" alt="{{ metadata.title }}" class="align-left">
  </a>
</p>
<ul>
  <li>My rating: <strong>{{ metadata.report_intro.score }}</strong> / 10</li>
  <li><a href="{{ metadata.report_intro.link_url }}">{{ metadata.report_intro.link_title }}</a></li>
  {% if page.url == "/book-reports/" %}
    <li><a href="{{ metadata.url }}" class="full-notes">Full notes</a></li>
  {% endif %}
</ul>

{% if page.url == "/book-reports/" %}
  {{ metadata.excerpt | markdownify }}
  <p class="clearfix"></p>
{% endif %}