{% comment %}
<!--
  Image Include

  This partial is used as a "prequel" include that is used with the responsive
  image template.  This partial's main purpose is to dynamically create the
  full path for the image to then pass that path as well as the other
  parameters to the responsive image plugin and template.

  @param {string} "file" - Required. filename of the image.
  @param {string} "alt" - Required. Alt attribute for image tag.
  @param {boolean} "img_link" - Optional, default is false. If img should have
    the image overlay functionality that the theme provides.
  @param {string} "link_url" - Optional. The page url that a user is taken to
    when clicking the image.  This will override the img_link parameter if both
    are included.
  @param {string} "fig_caption" - Optional. Caption to be used with figure tag.
  @param {string} "media_rendition" - Optional.  The title for the array of
    media queries to include for the "sizes" attribute on image tag that is
    listed in the global _config file. If it's not included then defaults to
    "article".
  @param {string} "max_width" - Optional.  Overrides the media_rendition
    parameter.  This will set a max width for the image by setting the sizes
    attribute equal to the max_width value.
  @param {string} "class" - Optional.  The CSS class attribute for the image or
    figure.  If a figure tag is to be used, then the class will apply to the
    figure tag.  If a figure tag is not being used, then the class will apply
    to the image tag.
-->
{% endcomment %}

{% comment %}
<!-- determine the full path of the image -->
{% endcomment %}
{% assign post_slug =  page.path | replace:'.html','' | replace: '.md','' | replace: '_posts/', '' %}
{% assign img_basepath = site.responsive_image.base_path | append: "/" | append: post_slug %}
{% assign img_path = img_basepath | append: "/" | append: include.file %}

{% comment %}
<!-- default media_rendition to "article" if not included in parmaters -->
{% endcomment %}
{% assign media_rendition = "article" %}
{% if include.media_rendition %}
  {% assign media_rendition = include.media_rendition %}
{% endif %}

{% responsive_image_block %}
    path: {{ img_path }}
    alt: {{ include.alt }}
    img_link: {{ include.img_link }}
    link_url: {{ include.link_url }}
    fig_caption: {{ include.fig_caption }}
    media_rendition: {{ media_rendition }}
    max_width: {{ include.max_width }}
    class: {{ include.class }}
{% endresponsive_image_block %}