{% comment %}
<!--
  Image Include

  This partial is used as a "prequel" include that is used with the responsive
  image template.  This partial's main purpose is to dynamically create the
  full path for the image to then pass that path as well as the other
  parameters to the responsive image plugin and template.

  @param {string} "file" - Required. filename of the image.
  @param {string} "alt" - Required. Alt attribute for image tag.
  @param {boolean} "img_link" - Optional, default is false. If img should have
    the image overlay functionality that the theme provides.
  @param {string} "fig_caption" - Optional. Caption to be used with figure tag.
  @param {string} "media_rendition" - Optional.  The title for the array of
    media queries to include for the "sizes" attribute on image tag that is
    listed in the global _config file. If it's not included then defaults to
    "article".

-->
{% endcomment %}

{% comment %}
<!-- determine the full path of the image -->
{% endcomment %}
{% assign post_slug =  page.path | replace:'.html','' | replace: '.md','' | replace: '_posts/', '' %}
{% assign img_basepath = site.responsive_image.base_path | append: "/" | append: post_slug %}
{% assign img_path = img_basepath | append: "/" | append: include.file %}

{% comment %}
<!-- default media_rendition to "article" if not included in parmaters -->
{% endcomment %}
{% assign media_rendition = "article" %}
{% if include.media_rendition %}
  {% assign media_rendition = include.media_rendition %}
{% endif %}

{% responsive_image_block %}
    path: {{ img_path }}
    alt: {{ include.alt }}
    img_link: {{ include.img_link }}
    fig_caption: {{ include.fig_caption }}
    media_rendition: {{ media_rendition }}
{% endresponsive_image_block %}