{% comment %}
<!--
  Responsive Image Include

  This partial is used with the responsive image plugin.  In the _config file,
  this template is used as the default for responsive images to configure a
  srcset value for images to ensure the best option for an image is used for a
  specific user's browser.

  @param {string} "path" - Required. Path to image file relative to the root.
  @param {string} "alt" - Required. Alt attribute for image tag.
  @param {boolean} "img_link" - Optional, default is false. If img should have
    the image overlay functionality that the theme provides.
  @param {string} "link_url" - Optional. The page url that a user is taken to
    when clicking the image.  This will override the img_link parameter if both
    are included.
  @param {string} "fig_caption" - Optional. Caption to be used with figure tag.
  @param {string} "media_rendition" - Required.  The title for the array of 
    media queries to include for the "sizes" attribute on image tag that is 
    listed in the global _config file. Currently, the only possible value is: 
    "article", however, other arrays of sizes could be added in the future.
  @param {string} "max_width" - Optional.  Overrides the media_rendition
    parameter.  This will set a max width for the image by setting the sizes
    attribute equal to the max_width value.
  @param {string} "class" - Optional.  The CSS class attribute for the image or
    figure.  If a figure tag is to be used, then the class will apply to the
    figure tag.  If a figure tag is not being used, then the class will apply
    to the image tag.
-->
{% endcomment %}

{% comment %}
<!-- determine all image options for srcset -->
{% endcomment %}
{% capture srcset %}
    {% for i in resized %}
        {{ site.url }}/{{ i.path }} {{ i.width }}w,
    {% endfor %}
     {{ site.url }}/{{ original.path }} {{ original.width }}w
{% endcapture %}

{% comment %}
<!-- determine sizes configurations for image -->
{% endcomment %}
{% if max_width %}
  {% assign sizes = max_width %}
{% else %}
  {% assign rendition = site.media_renditions.[media_rendition] %}
  {% if rendition %}
    {% assign sizes = rendition.sizes | join: ', ' %}
  {% endif %}
{% endif %}

{% comment %}
<!-- determine image link url - either page link or image overlay -->
{% endcomment %}
{% if link_url %}
  {% assign img_url = link_url %}
{% elsif img_link %}
  {% assign img_url = site.url | append: "/" | append: original.path %}
{% endif %}

{% if fig_caption %}
<figure class="{{ class }}">
  {% assign class = "" %}
{% endif %}

{% if img_url %}
  <a href="{{ img_url }}">
    <img src="/{{ path }}" alt="{{ alt }}" srcset="{{ srcset | strip_newlines }}" sizes="{{ sizes }}" class="{{ class }}">
  </a>
{% else %}
  <img src="/{{ path }}" alt="{{ alt }}" srcset="{{ srcset | strip_newlines }}" sizes="{{ sizes }}" class="{{ class }}">
{% endif %}

{% if fig_caption %}
  <figcaption>{{ fig_caption }}</figcaption>
{% endif %}

{% if fig_caption %}
</figure>
{% endif %}