.tinypilot-box {
  background: #f9f9f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #666;
  border: 1px solid #0b5e00;
  background-color: rgb(237, 247, 225);
  clear: both;
  margin: 20px 0px;
  text-align: left;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .tinypilot-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.tinypilot-box .tinypilot-box-inner {
  padding: 3%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .tinypilot-box .tinypilot-box-inner {
    padding: 1rem;
  }
}

.tinypilot-box p {
  margin: 0;
}

.tinypilot-box .logo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .tinypilot-box .logo {
    max-width: 340px;
    margin-right: 15px;
  }
}

.tinypilot-box .logo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tinypilot-box .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .tinypilot-box .text {
    margin-top: 0;
  }
}

.tinypilot-box .text h3 {
  margin: 0 1rem 0 0;
  font-size: 1.6em;
}

@media screen and (min-width: 768px) {
  .tinypilot-box .text h3 {
    font-size: 1.5em;
  }
}

.tinypilot-box .text p {
  margin: 3rem 0;
  font-size: 0.9em;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .tinypilot-box .text p {
    margin: 1rem 0;
    font-size: 0.75em;
  }
}

.tinypilot-box .btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  padding: 2rem 5rem;
  margin: 1rem;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}


@media screen and (min-width: 768px) {
  .tinypilot-box .learn-more-btn {
    margin: 1.5rem auto;
  }
}

.tinypilot-box .btn:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}