.tinypilot-box {
  background-color: #eef7fa;
  box-shadow: 0 1px 1px rgba(82,173,200,0.25);
  border: 1px solid rgb(0, 107, 168);
  padding: 1rem 2.5rem;
}

.tinypilot-box h4 {
  margin: 1rem 0;
}

.tinypilot-box-thin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem 1rem;
}

@media screen and (min-width: 768px) {
  .tinypilot-box-thin {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .tinypilot-box-thin .image-link {
    margin: 1rem auto;
    display: flex;
    justify-content: center;

  }
}

.tinypilot-box-thin img {
  object-fit: contain;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .tinypilot-box-thin img {
    max-width: 80%;
  }
}

.tinypilot-box-thin p {
  max-width: 50ch;
  margin: 0 auto;
}

.tinypilot-box-thin .second-half {
  text-align: center;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.tinypilot-box-thin .btn-wrapper {
  min-width: 200px;
}

.order-now-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #fff6a8;
  padding: 2rem 5rem;
  margin: 1rem auto;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

@media screen and (min-width: 768px) {
  .order-now-btn {
    margin: 1.5rem auto;
  }
}

.order-now-btn:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #9c6b08 !important;
  transition: all 0.4s ease 0s;
  text-decoration: none;
}
