.zestful-box {
  background: #f9f9f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #666;
  border: 1px solid #d1d1d1;
  clear: both;
  margin: 20px 0px;
  text-align: left;
  width: 100%;
}

.zestful-box .zestful-box-inner {
  padding: 3%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .zestful-box .zestful-box-inner {
    padding: 1%;
    flex-direction: row;
  }
}

.zestful-box p {
  margin: 0;
}

.zestful-box .logo {
  min-width: 190px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .zestful-box .logo {
    width: 22%;
    margin-right: 15px;
  }
}

.zestful-box .logo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zestful-box .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .zestful-box .text {
    margin-top: 0;
  }
}

.zestful-box .text h3 {
  font-size: 1.4em;
  margin: 0 0 20px 0;
}

@media screen and (min-width: 768px) {
  .zestful-box .text h3 {
    margin: 5px 0 10px 0;
    font-size: 1.6em;
  }
}

.zestful-box .text p {
  margin: 0;
  font-size: 0.9em;
}

@media screen and (min-width: 768px) {
  .zestful-box .text p {
    font-size: 0.75em;
  }
}