// Ads Classes

.adv_cont {
  background: #4d95f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
  font-size: 16px;
  @include border(1px, solid, #000);
  clear: both;
  margin: 20px 0px;
  text-align: center;
  width: 100%;

  h3 {
    text-align: center;
    margin: 0px 0px 10px;
    font-size: 28px;
    color: #f9a759;
  }

  .adv_cont_inner {
    padding: 3%;
    margin-bottom: 0;
  }

  img {
    width: 65%;
  }

  a.no-hover {
    color: #fff;
  }

  p:not(:last-child), .m-0 {
    margin: 0;
  }
}
