// Buttons Component

.btn-discuss {
  background-color: #3b5998;
  color: #fff;
  text-transform: capitalize;

  &:hover {
    color: #fff;
  }

  &:visited {
    color: #fff;
  }
}

.btn--reddit {
  background-color: #ff5700;
  text-transform: lowercase;

  &:hover {
    background-color: #e54e00;
  }
}

.btn--hacker_news {
  background-color: #ff6500;

  &:hover {
    background-color: #e55b00;
  }
}

.btn--indie_hackers {
  background-color: #20374C;

  &:hover {
    background-color: #0E2538;
  }

  > .fa-indie-hackers {
    background-image: url("/assets/img/icons/indie-hackers-logo__glyph--light.svg");
    background-position: center center;

    >g {
      opacity: 0;
    }
  }
}
