// Embedded Code Blocks

// Code Block Dowload Links
.code-tab {
  @include border(1px, solid, #f2f3f3);
  border-top: 0;
  border-radius: 0 0 4px 4px;
  background-color: #fafafa;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  margin-top: -11px;
  z-index: 10;
  position: relative;
  padding: 0.5em 1em;
  float: right;
  margin-left: 1em;
}

.code-block-tab {
  border-bottom-right-radius: 0;
}

