// Figure tag classes

figure.half, figure.third {
  display: flex;
}

figure.align {
  &-right,
  &-left {

    flex-direction: column;
    margin: 0 auto;
    display: table;
    float: none;

    @include breakpoint($small) {
      margin: 0 1em 0 0;
    }

    a {
      z-index: 1;
    }
  }

  @include breakpoint($small) {
    &-right {
      float: right;
      margin-left: 1em;
    }

    &-left {
      float: left;
      margin-right: 1em;
    }
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  margin-bottom: 0;
}

.img-border {
  @include border(1px, solid, grey);
}