// Custom Navigation Component

.masthead {
	display: block;

	@include breakpoint($large) {
    display: none;
  }
}

.sidebar nav {
	display: none;

	@include breakpoint($large) {
		display: block;
	}

	a {
		font-size: 18px;
	}
}

.nav__sub-title {
	margin: 0.5rem 0 1.5rem
}
