<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ with .Site.Params.author }}
      <meta name="author" content="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.description }}
      <meta name="description" content="{{ . }}" />
    {{ end }}

    {{ partial "twitter-card.html" . }}
    {{ partial "opengraph.html" . }}

    {{ if .Permalink }}
      <base href="{{ .Permalink }}" />
    {{ end }}
    <title>{{ block "title" . }}{{- .Site.Title -}}{{ end }}</title>

    {{ if .Params.canonical_url }}
      <link rel="canonical" href="{{ .Params.canonical_url }}" />
    {{ else if .Permalink }}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{ end }}

    {{ $styles := resources.Get "css/main.css" }}
    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen" />
    {{ else }}
      {{ $styles := $styles | minify | fingerprint }}
      <link
        rel="stylesheet"
        href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
        crossorigin="anonymous"
        media="screen"
      />
    {{ end }}


    <link href="/third-party/google-fonts/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/third-party/font-awesome/v5.11.2/css/all.css"
    />
    {{ if .HasShortcode "zestful-ad" }}
      <link rel="stylesheet" href="/css/zestful.css" media="screen" />
    {{ end }}

    {{- if and .IsPage (eq .Type "retrospectives") (not (hasPrefix .Title "Notes from")) }}
      <script src="/third-party/chart.js/2.9.4/Chart.min.js"></script>
      <script src="/js/retrospectives.js"></script>
    {{ end }}

    {{ if .Site.IsServer }}
      {{ $cssOpts := (dict "targetPath" "css/style.css" "enableSourceMap" true ) }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen" />
    {{ else }}
      {{ $cssOpts := (dict "targetPath" "css/style.css" ) }}
      <link
        rel="stylesheet"
        href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
        crossorigin="anonymous"
        media="screen"
      />
    {{ end }}

    {{ if not .Site.IsServer }}
      <script
        defer
        data-domain="mtlynch.io"
        src="https://plausible.io/js/plausible.js"
      ></script>
    {{ end }}

    {{ if and .Params.custom_css }}
      <link rel="stylesheet" href="pagestyle.css" />
    {{ end }}

    {{ range .Site.Params.custom_js }}
      <script src="{{ . | relURL }}"></script>
    {{ end }}


    <link
      rel="icon"
      type="image/png"
      href="{{ .Site.Params.favicon_32 | absURL }}"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ .Site.Params.favicon_16 | absURL }}"
      sizes="16x16"
    />

    {{ if gt (len .AlternativeOutputFormats) 0 -}}
      {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
      {{ end -}}
    {{ else }}
      {{ printf `<link rel="alternate" type="application/rss+xml" href="%s/%s" title="%s" />` .Site.BaseURL "index.xml" $.Site.Title | safeHTML }}
    {{ end -}}

    {{ hugo.Generator }}
  </head>

  <body class="colorscheme-light">
    <main class="wrapper">
      {{ partial "navbar.html" . }}


      <div class="content {{ .Type }}">
        {{ block "content" . }}{{ end }}
      </div>

      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
