.content {
  flex: 1;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 3.2rem;

  article {
    header {
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;

      h1 {
        font-size: 4.2rem;
        line-height: 4.6rem;
        margin: 0;

        @media only screen and (max-width: 768px) {
          font-size: 2.8rem;
          line-height: 3rem;
        }
      }
    }

    > h2:first-of-type {
      margin-top: 1rem;
    }

    footer {
      margin-top: 4rem;

      .see-also {
        margin: 3.2rem 0;

        h3 {
          margin: 3.2rem 0;
        }
      }
    }
  }

  header .header-meta,
  header .tags {
    margin-left: 0;
    margin-right: 1.5rem;
  }

  header .tags {
    display: inline;
  }

  .post {
    .post-title {
      margin-bottom: 0.75em;
    }

    .post-meta i {
      text-align: center;
      width: 1.6rem;
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }

  figure {
    margin: 0;
    padding: 0;

    & + figure {
      margin-top: 3rem;
    }

    &.gallery .img-container {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;

        img {
          max-width: 99%;
        }
      }
    }
  }

  figcaption {
    p {
      text-align: center;
      font-style: normal;
      font-size: 1.6rem;
      margin: 0;
    }

    code {
      font-size: 1.5rem;
      background-color: unset;
      padding: 0;
    }
  }

  .img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .video {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  video {
    max-width: 100%;
  }

  .img-border {
    border: 1px solid rgba(177, 177, 177, 0.76);
  }

  table + .img {
    margin-top: 3rem;
  }

  .align-left {
    @media screen and (min-width: 768px) {
      float: left;
      margin-right: 1em !important;
      margin-top: 1em !important;
    }
  }

  .align-right {
    @media screen and (min-width: 768px) {
      float: right;
      margin-left: 1em !important;
      margin-top: 1em !important;
    }
  }

  .notice {
    margin: 2em 0 !important;
    padding: 1em;
    color: #494e52;
    font-size: 0.8em !important;
    border-radius: 4px;
    text-indent: initial;
    clear: both;

    h5 {
      margin-top: 1rem;
    }

    code {
      font-size: 1em;
    }
  }

  .notice.notice-info {
    background-color: #eef7fa;
    box-shadow: 0 1px 1px rgba(82, 173, 200, 0.25);
  }

  .notice.notice-warning {
    background-color: #fef4e6;
    box-shadow: 0 1px 1px rgba(248, 148, 6, 0.25);
  }

  .notice.notice-danger {
    background-color: #fdefef;
    box-shadow: 0 1px 1px rgba(238, 95, 91, 0.25);
  }

  .inline-file {
    clear: both;
    margin-bottom: 65px;

    .download-raw-button {
      border-width: 1px;
      border-style: solid;
      border-color: #f2f3f3;
      border-top: 0;
      border-radius: 0 0 4px 4px;
      background-color: #fafafa;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
      margin-top: -20px;
      z-index: 10;
      position: relative;
      padding: 0.5em 1em;
      float: right;
      margin-left: 1em;
      font-size: 0.6875em;
    }
  }

  .twitter-tweet {
    margin: 0 auto;
  }
}
