.btn-social {
  color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-right: 1rem;
}

.btn-social:hover {
  text-decoration: none;
}

.btn-social span {
  display: none;
}

/* Lobsters needs a special rule since it's not in FontAwesome. */
.btn-social span.lobsters-icon {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .btn-social span {
    display: inline-block;
  }
}

.btn-twitter {
  background-color: #007bb6;
}

.btn-twitter:hover {
  background-color: #016594;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-facebook:hover {
  background-color: #264079;
}

.btn-linkedin {
  background-color: #007bb6;
}

.btn-linkedin:hover {
  background-color: #016796;
}

.btn-hacker-news {
  background-color: #ff6600;
}

.btn-hacker-news:hover {
  background-color: #c95609;
}

.btn-reddit {
  background-color: #ff5700;
}

.btn-reddit:hover {
  background-color: #e24d02;
}

.btn-indie-hackers {
  background-color: rgb(32, 59, 85);
}

.btn-indie-hackers:hover {
  background-color: rgb(44, 92, 131);
}

.btn-indie-hackers i {
  background-image: url("/images/social/indie-hackers.svg");
  background-position: center;
}

.btn-lobsters {
  background-color: #ac282b;
}

.btn-lobsters:hover {
  background-color: #8a1f22;
}

.lobsters-icon {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  width: 1.25em;
  text-align: center;
}
