.subscribe-container {
  background: #f9f9f9;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.5em;
  overflow: hidden;
  color: #666;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  clear: both;
  margin: 20px 0px;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.subscribe-container h3 {
  text-align: center;
  margin: 0px 0px 10px;
  font-size: 28px;
}

.subscribe-container form {
  background-color: inherit;
}

.subscribe-container .subscribe-container-inner {
  width: 100%;
  float: left;
  padding: 3rem;
}

.subscribe-container input[type="text"],
.subscribe-container input[type="email"] {
  width: 100%;
  float: none;
  margin-top: 5px;
  font-size: 18px;
  padding: 10px 8px;
  border: 1px solid #d6d6d6; /* stroke */
  border-radius: 3px;
  background-color: #fff; /* layer fill content */
  margin-bottom: 5px;
  height: 42px;
}

.subscribe-container input[type="text"]:focus,
.subscribe-container input[type="email"]:focus {
  outline: none;
  border-color: #aaa;
}

.subscribe-container .subscribe-topic {
  margin-top: 2rem;
}

.subscribe-container .btn-primary {
  margin-top: 5px;
  padding: 11px 0px;
  font-size: 18px;
  height: 42px;
}

/* Honeypot to prevent bot signups */
.subscribe-container .ninja {
  position: absolute;
  top: -5000px;
  right: 0px;
}

.subscribe-container .subscribe-topic {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
}

.subscribe-container .success {
  display: none;
  background: #d3ffd6;
  border: 1px solid #2f5a32;
  color: black;
  padding: 1rem 5rem;
}

.subscribe-container .error {
  display: none;
  color: #963328;
  background: #fdd1bf;
  margin-top: 2rem;
  padding: 1rem 5rem;
  border: 1px solid #770000;
}
