.tag {
  font-size: 0.8em;
  margin-left: 1rem;
  padding: 0.5rem;

  &:hover {
    text-decoration: none;
  }
}

.tag-posts {
  background-color: #e3ffe8;
}

.tag-retrospectives {
  background-color: #fffade;
}

.tag-book-reports,
.tag-notes {
  background-color: #f5ebfa;
}
