{{ $imageResource := "" }}
{{ $imageFilename := "" }}
{{ if .Page.Params.hero_image }}
  {{ $imageFilename = .Page.Params.hero_image }}
{{ else if .Page.Params.banner_image }}
  {{ $imageFilename = .Page.Params.banner_image }}
{{ end }}

{{ if $imageFilename }}
  {{ $imageResource = .Page.Resources.GetMatch $imageFilename }}
{{ end }}


<li>
  <a class="img-wrapper" href="{{ .RelPermalink }}">
    {{ if $imageResource }}
      {{- /* The mobile slot is at most 768px minus 40px of container padding. */ -}}
      {{ $mobileImageWidth := 728 }}
      {{ if lt $imageResource.Width $mobileImageWidth }}
        {{ $mobileImageWidth = $imageResource.Width }}
      {{ end }}
      {{ $desktopImageWidth := 280 }}
      {{ if lt $imageResource.Width $desktopImageWidth }}
        {{ $desktopImageWidth = $imageResource.Width }}
      {{ end }}
      {{ $heightLimitedWidth := div (add (mul 200 $imageResource.Width) (sub $imageResource.Height 1)) $imageResource.Height }}
      {{ if lt $heightLimitedWidth $desktopImageWidth }}
        {{ $desktopImageWidth = $heightLimitedWidth }}
      {{ end }}
      {{ $sizes := printf "(min-width: 768px) %dpx, calc(100vw - 4rem)" $desktopImageWidth }}
      {{ if lt $mobileImageWidth 728 }}
        {{ $sizes = printf "(min-width: 768px) %dpx, (min-width: %dpx) %dpx, calc(100vw - 4rem)" $desktopImageWidth (add $mobileImageWidth 40) $mobileImageWidth }}
      {{ end }}
      {{ partial "responsive-img.html" (dict
        "image" $imageResource
        "maxDisplayWidth" $mobileImageWidth
        "photoWidths" .Site.Params.photoWidths
        "sizes" $sizes
        )
      }}
    {{ end }}
  </a>
  <div>
    <h2><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p class="date">
      {{ .Date.Format .Site.Params.dateFormat }}
    </p>
    <p>{{ .Page.Params.description }}</p>
  </div>
</li>
