{{ $imageResource := "" }}
{{ $imagePath := "" }}
{{ if .Page.Params.hero_image }}
  {{ $imagePath = .Page.Params.hero_image }}
{{ else }}
  {{- with .Page.Params.images -}}
    {{ $imagePath = index . 0 }}
  {{ end }}
{{ end }}

{{ if $imagePath }}
  {{ $imageFilename := path.Base $imagePath }}
  {{ $imageResource = .Page.Resources.GetMatch $imageFilename }}
{{ end }}


<li>
  <a class="img-wrapper" href="{{ .RelPermalink }}">
    {{ if $imageResource }}
      {{ partial "responsive-img.html" (dict "image" $imageResource "sizes" "(min-width: 768px) 400px, 98vw" "photoWidths" .Site.Params.photoWidths) }}
    {{ end }}
  </a>
  <div>
    <h2><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p class="date">
      {{ .Date.Format .Site.Params.dateFormat }}
    </p>
    <p>{{ .Page.Params.description }}</p>
  </div>
</li>
