{{ define "title" -}}
  {{- .Title }} ·
  {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        {{ if .Page.Params.hero_image }}
          <a href="{{ .Page.Params.hero_image }}">
            <img src="{{ .Page.Params.hero_image }}" />
          </a>
        {{ end }}
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
        </div>
        <div class="post-meta">
          <span class="header-meta">
            <i class="fas fa-calendar"></i>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
            </time>
          </span>
          <span class="header-meta">
            <i class="fas fa-clock"></i>
            {{ .ReadingTime }}-minute read
          </span>
          {{ with .Page.Params.Tags }}
            {{ partial "taxonomy/tags.html" . }}
          {{ end }}

          {{ if .Site.IsServer }}
            <span class="header-meta">{{ .Content | countwords }} words </span>
          {{ end }}
        </div>
      </header>

      {{- with .Content -}}
        <div>
          {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗&#xFE0E;</a> ${3}` | safeHTML }}
        </div>
      {{- end -}}

      {{ partial "mailing-list-signup.html" . }}

      {{ partial "social-share.html" . }}

      {{ partial "social-discuss.html" . }}

      {{ if not .Site.IsServer }}
        {{ partial "talkyard.html" . }}
      {{ end }}

    </article>
  </section>
{{ end }}
