<footer class="footer">
  <section class="container">

    {{ with .Site.Params.footercontent | safeHTML }}
      <p>{{.}}</p>
    {{ end }}
    Crafted with ❤️ in Western Massachusetts.
    {{ with .Site.Params.since }}
      · © {{ if lt . now.Year }}{{ . }} - {{ end }}{{ now.Year }}
    {{ else }}
      · © {{ now.Year }}
    {{ end }}


    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li>
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </section>
</footer>
