<div class="htfp-box">
  <div class="logo">
    <a href="https://hitthefrontpage.com/">
      <img src="/images/htfp/cover-800px.webp" alt="Hit the Front Page logo" />
    </a>
  </div>

  <div class="text">
    <h3>Want More People to Read Your Software Blog?</h3>

    <p>
      I've been blogging about software and entrepreneurship for seven years,
      and my blog now attracts 300k readers per year.
    </p>
    <p>
      I've created a course to capture all the useful lessons I learned over the
      years about choosing compelling topics, quickly capturing people's
      attention, posts, and attracting new readers consistently.
    </p>

    <a href="https://hitthefrontpage.com/" class="btn-primary">Sign Up</a>
  </div>
</div>
