<div class="zestful-box">
  <div class="zestful-box-inner">
    <div class="logo">
      <a href="https://hitthefrontpage.com/">
        <img
          src="/images/htfp/cover-800px.webp"
          alt="Hit the Front Page logo"
        />
      </a>
    </div>

    <div class="text">
      <h3>Want to parse ingredients without all this work?</h3>

      <p>
        I went through all of these steps, so you don’t have to. Check out
        <a href="https://zestfuldata.com/">Zestful</a>, my managed service for
        ingredient parsing.
      </p>
    </div>
  </div>
</div>
