<div class="htfp-box">
  <div class="logo">
    <a href="https://hitthefrontpage.com/">
      <img src="/images/htfp/cover-800px.webp" alt="Hit the Front Page logo" />
    </a>
  </div>

  <div class="text">
    <h3>Want to Improve Your Software Blog?</h3>

    <p>
      I've created a course to capture everything I've learned in the last seven
      years of blogging, including:
    </p>

    <ul>
      <li>Finding compelling topics</li>
      <li>Quickly capturing people's attention</li>
      <li>Consistently attracting new readers</li>
    </ul>

    <a href="https://hitthefrontpage.com/" class="btn-primary"
      >Take Michael's Blogging Course</a
    >
  </div>
</div>
