{{ $currentPageType := .Page.Section }}
{{ $currentPageTypeFriendly := "" }}
{{ $defaultAll := false }}
{{ if (eq $currentPageType "posts") }}
  {{ $currentPageType = "blog" }}
  {{ $currentPageTypeFriendly = "blog posts" }}
{{ end }}

{{ if (eq $currentPageType "retrospectives") }}
  {{ $currentPageTypeFriendly = "monthly retrospectives" }}
  {{ $defaultAll = true }}
{{ end }}

{{ if (eq $currentPageType "book-reports") }}
  {{ $currentPageTypeFriendly = "book reports" }}
  {{ $defaultAll = true }}
{{ end }}

<div class="subscribe-container">
  <div class="subscribe-container-inner">
    <h3>Be the first to know when I post cool stuff</h3>
    <p>Subscribe to get my latest posts by email.</p>
    <p class="email-octopus-success-message"></p>
    <p class="email-octopus-error-message"></p>
    <form method="post"
      action="https://emailoctopus.com/lists/1e2422ed-6c80-11ea-a3d0-06b4694bee2a/members/embedded/1.3/add"
      class="email-octopus-form"
      data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
    >
        <input id="field_0" name="field_0" type="email" placeholder="Email address">

        <div class="subscribe-topics">
          <p>Send me:</p>

          <input id="blogposts" name="field_4" type="radio" value="{{ $currentPageType }}" {{ if (not $defaultAll) }}checked{{ end }}>
          <label for="blogposts">New {{ $currentPageTypeFriendly }}</label>

          <input id="all-updates" name="field_4" type="radio" value="all" {{ if $defaultAll }}checked{{ end }}>
          <label for="all-updates">All posts (monthly retrospectives, book reports, etc.)</label>
        </div>


        <div class="honeypot" aria-hidden="true">
            <!-- Do not remove this field, otherwise you risk bot sign-ups -->
            <input type="text" name="hp1e2422ed-6c80-11ea-a3d0-06b4694bee2a"
               tabindex="-1"
               autocomplete="nope">
        </div>


        <input type="hidden"
        name="successRedirectUrl"
        value="">

        <div class="clear">
            <input type="submit" value="Subscribe" class="subscribe-btn">
        </div>
    </form>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.4/formEmbed.js"></script>