<div class="refactoring-english-box">
  <h2>
    <em>Refactoring English: Effective Writing for Software Developers</em>
  </h2>

  <p>
    I'm writing a book to capture all the techniques for effective writing that
    I've learned in my fifteen years as a professional software developer and
    frequent writer.
  </p>

  <p>My book will teach you how to:</p>

  <ul>
    <li>Write clearer emails</li>
    <li>Eliminate the pain from design documents</li>
    <li>Create software tutorials that delight your users</li>
    <li>Overcome writer's block</li>
  </ul>

  <a href="https://refactoringenglish.com/" class="btn-primary"
    >Read Michael's Book</a
  >
</div>
