{{- $tweet := .data -}}
{{- $tweetID := .id -}}
{{- $tweetURL := printf "https://twitter.com/%s/status/%s" $tweet.user.screen_name $tweetID -}}
{{- $avatarClass := cond (eq ($tweet.user.profile_image_shape | default "Circle") "Square") "social-embed-avatar-square" "social-embed-avatar-circle" -}}


<blockquote
  class="social-embed"
  id="social-embed-{{ $tweetID }}"
  lang="{{ $tweet.lang | default "en" }}"
>
  <header class="social-embed-header">
    <a
      href="https://twitter.com/{{ $tweet.user.screen_name }}"
      class="social-embed-user"
    >
      <img
        class="social-embed-avatar {{ $avatarClass }}"
        src="{{ .profileImageBase64 | safeURL }}"
        alt="{{ $tweet.user.name }}"
        loading="lazy"
      />
      <div class="social-embed-user-names">
        <p class="social-embed-user-names-name">{{ $tweet.user.name }}</p>
        @{{ $tweet.user.screen_name }}
      </div>
    </a>
    <svg class="social-embed-logo" viewBox="0 0 24 24" aria-label="Twitter">
      <path
        fill="#1d9bf0"
        d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
      />
    </svg>
  </header>

  <section class="social-embed-text">
    {{ partial "process-tweet-entities.html" (dict "text" $tweet.text "entities" $tweet.entities) | safeHTML }}
  </section>

  <hr class="social-embed-hr" />

  <footer class="social-embed-footer">
    <a href="{{ $tweetURL }}">
      <time datetime="{{ $tweet.created_at }}"
        >{{ time $tweet.created_at | time.Format "3:04 PM · Jan 2, 2006" }}</time
      >
    </a>
  </footer>
</blockquote>
