<section class="social-sharing">

  <h4>Share on</h4>

  <a href="https://twitter.com/intent/tweet?via={{ .Site.Social.twitter }}&text={{ .Title }}%20{{ .Permalink  }}" class="btn btn--twitter" title="Share on Twitter"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink  }}" class="btn btn--facebook" title="Share on Facebook"><i class="fab fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink  }}" class="btn btn--linkedin" title="Share on LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

</section>
