// Page layout parent theme overrides

.page {
  @include breakpoint($large) {
  width: span(9.5 of 12);
  padding-left: gutter(0.5 of 12);
  padding-right: gutter(2 of 12);
}

  @include breakpoint($x-large) {
    width: span(10 of 12);
    padding-left: gutter(0.5 of 12);
    padding-right: gutter(2 of 12);
  }
}

.page__related {

  @include breakpoint($large) {
    float: right;
    width: span(10 of 12);
    padding-left: gutter(0.5 of 12);
    padding-right: gutter(2 of 12);
  }

  @include breakpoint($x-large) {
    width: span(10 of 12);
  }
}