{{ $linkUrl := "https://gumroad.com/" }}

<div class="htfp-box">
  <div class="logo">
    <a href="{{ $linkUrl }}">
      <img src="/images/htfp/cover.jpg" alt="Cover image for Hit the Front Page of Hacker News course">
    </a>
  </div>
  <div class="htfp-box-inner">
    <div class="text">
      <h3>Write posts that succeed on Hacker News</h3>

      <p>
        Over the past three years, I've written 15 posts that reached the front page of Hacker News,
        with four of them reaching the #1 spot. Over the same period, many of my posts absolutely
        flopped and went nowhere.
      </p>

      <p>
        Now, I'm sharing lessons from years of success and failure in blogging to teach you how to
        choose topics, write articles, and iterate on your results to gain traction with technically
        sophisticated audiences on Hacker News, reddit, and Twitter.
      </p>
    </div>

    <a href="{{ $linkUrl }}" class="btn learn-more-btn">Learn more</a>
  </div>
</div>