{{ $srcRaw := .Get "src" }}
{{ $altText := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $maxWidth := .Get "max-width" }}
{{ $hasBorder := ne (.Get "has-border") "false" }}
{{ $align := .Get "align" }}
{{ $href := .Get "href" }}

{{ $image := .Page.Resources.GetMatch $srcRaw }}
{{ $src := $image.RelPermalink }}

{{ $requestedMaxWidthPixels := $image.Width }}
{{ if strings.HasSuffix $maxWidth "px" }}
  {{ $requestedMaxWidthPixels = int (replace $maxWidth "px" "") }}
{{ end }}

{{ $containerMaxWidthPixels := $requestedMaxWidthPixels }}
{{- /* If maxWidth is set to match the image size, but it also has a border, add
  2px to the maxWidth to account for the 1px border on either side. */ -}}
{{ if (and $hasBorder (eq $containerMaxWidthPixels $image.Width)) }}
  {{ $containerMaxWidthPixels = add $containerMaxWidthPixels 2 }}
{{ end }}

{{ $maxWidth = printf "%dpx" $containerMaxWidthPixels }}

{{ $containerAttrs := printf `class="img%s"%s`
  (cond (ne $align "") (printf " align-%s" $align) "")
  (cond (ne $maxWidth "") (printf ` style="max-width: %s"` $maxWidth) "") | safeHTMLAttr }}

{{- /* The container is 900px wide with 20px of padding on each side. */ -}}
{{ $maxDisplayWidth := $requestedMaxWidthPixels }}
{{ if gt $maxDisplayWidth 860 }}
  {{ $maxDisplayWidth = 860 }}
{{ end }}
{{ if gt $maxDisplayWidth $image.Width }}
  {{ $maxDisplayWidth = $image.Width }}
{{ end }}
{{ $sizes := printf "(min-width: %dpx) %dpx, calc(100vw - 4rem)" (add $maxDisplayWidth 40) $maxDisplayWidth }}
{{ $imgClass := cond $hasBorder "img-border" "" }}

{{ if $caption }}
<figure {{ $containerAttrs }}>
{{ else }}
<div {{ $containerAttrs }}>
{{ end }}

{{ if $src }}
  <a href="{{ if $href }}{{ $href }}{{ else }}{{ $src }}{{ end }}">
    {{ partial "responsive-img.html" (dict
      "image" $image
      "maxDisplayWidth" $maxDisplayWidth
      "photoWidths" $.Site.Params.photoWidths
      "sizes" $sizes
      "alt" $altText
      "class" $imgClass
    ) }}
  </a>
{{ else }}
  {{ errorf "failed to find image %s: %s" $srcRaw .Position }}
  could not find image
{{ end }}

{{ if $caption }}
<figcaption><p>{{ $caption | markdownify }}</p></figcaption>
</figure>
{{ else }}
</div>
{{ end }}
