<div class="tinypilot-box">
  <div class="logo">
    <a href="https://tinypilotkvm.com/">
      <img src="/images/tinypilot/bios.gif" alt="Install a hypervisor with TinyPilot">
    </a>
  </div>
  <div class="tinypilot-box-inner">
    <div class="text">
      <h3>Set up your VM server without a keyboard or monitor</h3>

      <p>I hated swapping my keyboard and monitor between my desktop and server, so I created <a href="https://tinypilotkvm.com/">TinyPilot</a>, an open source KVM over IP solution.</p>
    </div>

    <a href="https://tinypilotkvm.com" class="btn learn-more-btn">Learn more</a>
  </div>
</div>