{{- $cachedURL := .Get "cached-url" -}}

{{- if not $cachedURL -}}
  <div class="tweet-error">
    <p>Error: No cached-url provided</p>
  </div>
{{- else -}}

{{/* Extract tweet ID from URL */}}
{{- $tweetID := "" -}}
{{- $urlPattern := `(?:twitter\.com|x\.com)/[^/]+/status/(\d+)` -}}
{{- $matches := findRE $urlPattern $cachedURL -}}
{{- if $matches -}}
  {{- $match := index $matches 0 -}}
  {{- $tweetID = replaceRE `.*status/(\d+).*` "$1" $match -}}
{{- end -}}

{{- if not $tweetID -}}
  {{- errorf "Could not extract tweet ID from URL: %s" $cachedURL -}}
{{- end -}}

{{/* Load cached tweet data from data/tweet-data/[tweet-id].json */}}
{{- $cache := index .Site.Data "tweet-data" $tweetID -}}

{{- if not $cache -}}
  {{- errorf "Tweet %s not found in cache. Run: ./dev-scripts/embed-tweet.go %s" $tweetID $cachedURL -}}
{{- end -}}

{{/* Check if tweet was deleted */}}
{{- $tweetData := $cache.tweet_data -}}
{{- if eq $tweetData.__typename "TweetTombstone" -}}
  <div class="tweet-deleted">
    <p>This tweet was deleted by the author.</p>
  </div>
{{- else if $tweetData -}}
  {{/* Process and render the tweet */}}
  {{- partial "render-tweet.html" (dict "data" $tweetData "id" $tweetID "profileImageBase64" $cache.profile_image_base64) -}}
{{- else -}}
  <div class="tweet-error">
    <p>Could not load tweet {{ $tweetID }}</p>
  </div>
{{- end -}}

{{- end -}}
