<link rel="stylesheet" href="{{ .Site.BaseURL }}css/zestful.css" media="screen">

<div class="zestful-box">
  <div class="zestful-box-inner">
    <div class="logo">
      <a href="https://zestfuldata.com/">
        <img src="/images/zestful/logo.png" alt="Zestful logo">
      </a>
    </div>

    <div class="text">
      <h3>Want to parse ingredients without all this work?</h3>

      <p>I went through all of these steps, so you don’t have to. Check out <a href="https://zestfuldata.com/">Zestful</a>, my managed service for ingredient parsing.</p>
    </div>
  </div>
</div>